<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8686e/control/0/plot" value="false" />
    <add key="/lpc/it8686e/control/1/plot" value="false" />
    <add key="/lpc/it8686e/control/2/plot" value="false" />
    <add key="/lpc/it8686e/control/3/plot" value="false" />
    <add key="/lpc/it8686e/control/4/plot" value="false" />
    <add key="/lpc/it879xe/control/0/plot" value="false" />
    <add key="/lpc/it879xe/control/1/plot" value="false" />
    <add key="/lpc/it879xe/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/4/plot" value="false" />
    <add key="/atigpu/0/temperature/5/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/clock/2/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/voltage/1/plot" value="false" />
    <add key="/atigpu/0/voltage/2/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/0/load/1/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/level/0/plot" value="false" />
    <add key="/hdd/3/data/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="652" />
    <add key="mainForm.Location.Y" value="144" />
    <add key="mainForm.Width" value="577" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8686e/voltage/0/plot" value="false" />
    <add key="/lpc/it8686e/voltage/1/plot" value="false" />
    <add key="/lpc/it8686e/voltage/2/plot" value="false" />
    <add key="/lpc/it8686e/voltage/3/plot" value="false" />
    <add key="/lpc/it8686e/voltage/4/plot" value="false" />
    <add key="/lpc/it8686e/voltage/5/plot" value="false" />
    <add key="/lpc/it8686e/voltage/6/plot" value="false" />
    <add key="/lpc/it8686e/voltage/7/plot" value="false" />
    <add key="/lpc/it8686e/voltage/8/plot" value="false" />
    <add key="/lpc/it8686e/temperature/0/plot" value="false" />
    <add key="/lpc/it8686e/temperature/1/plot" value="false" />
    <add key="/lpc/it8686e/temperature/2/plot" value="false" />
    <add key="/lpc/it8686e/temperature/3/plot" value="false" />
    <add key="/lpc/it8686e/temperature/4/plot" value="false" />
    <add key="/lpc/it8686e/temperature/5/plot" value="false" />
    <add key="/lpc/it8686e/fan/0/plot" value="false" />
    <add key="/lpc/it8686e/fan/2/plot" value="false" />
    <add key="/lpc/it8686e/fan/3/plot" value="false" />
    <add key="/lpc/it8686e/fan/4/plot" value="false" />
    <add key="/lpc/it879xe/voltage/0/plot" value="false" />
    <add key="/lpc/it879xe/voltage/1/plot" value="false" />
    <add key="/lpc/it879xe/voltage/2/plot" value="false" />
    <add key="/lpc/it879xe/voltage/3/plot" value="false" />
    <add key="/lpc/it879xe/voltage/4/plot" value="false" />
    <add key="/lpc/it879xe/voltage/5/plot" value="false" />
    <add key="/lpc/it879xe/voltage/6/plot" value="false" />
    <add key="/lpc/it879xe/voltage/7/plot" value="false" />
    <add key="/lpc/it879xe/voltage/8/plot" value="false" />
    <add key="/lpc/it879xe/temperature/0/plot" value="false" />
    <add key="/lpc/it879xe/temperature/1/plot" value="false" />
    <add key="/lpc/it879xe/temperature/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/factor/0/plot" value="false" />
    <add key="minTrayMenuItem" value="false" />
    <add key="/hdd/3/factor/0/values" value="H4sIAAAAAAAEAPt2prbr+MlbHgwMB/5r/DtqygAEOaYi++UEW9xB7BkmIvsB9mr4SyQAAAA=" />
    <add key="/hdd/3/temperature/0/values" value="H4sIAAAAAAAEAPt2prbr+MlbHgwMB/5r/DtqygAGKk5ygi3uELaiEwCqnnTmJAAAAA==" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEAPt2prbr+MlbHgwMB/5r/DtqygAEglm7neQEW9xB7ON5u50ALTwiGiQAAAA=" />
    <add key="/hdd/3/data/0/values" value="H4sIAAAAAAAEAPt2prbr+MlbHgwMB/5r/DtqygAEL8ME3eUEW9xBbMZwQXcAIcTpviQAAAA=" />
    <add key="/hdd/1/level/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAJMwiu86fvKWBwPDgf9sM5+YMoABj5OcYIs7jA0AcPoynCQAAAA=" />
    <add key="/hdd/3/level/0/values" value="H4sIAAAAAAAEAPt2prbr+MlbHgwMB/5r/DtqygAGNxzlBFvcYWwAoDQgRCQAAAA=" />
    <add key="/hdd/1/factor/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/1/expanded" value="true" />
    <add key="/hdd/0/expanded" value="true" />
    <add key="/hdd/2/expanded" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAIvMcNj1+vQtDwaGA/8BaHqeXgwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAIvMcNj1+vQtDwaGA/8BaHqeXgwAAAA=" />
    <add key="/hdd/1/level/0/values" value="" />
    <add key="/hdd/1/data/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAHvqHLfr9elbHgwMB/4DAMXXoLMMAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAHvqHLfr9elbHgwMB/4DAMXXoLMMAAAA" />
    <add key="/hdd/1/factor/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEALOZXLXr9elbHgwMB/4DAKmTXDsMAAAA" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZAADTaf9X5KYIGwNp4w1EzhhbNHMNKi4uhMAsyKXZDwAAAA=" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZIACG64oPhgbAGk0kPwkAAAA" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZIACG64oPhgbAGk0kPwkAAAA" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZIACG64oPhgbAGk0kPwkAAAA" />
    <add key="/atigpu/0/temperature/5/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZIACG64oPhgbAGk0kPwkAAAA" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZAADTaf9X5KYIGwNp1rR79wwNgBShIFYMAAAAA==" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZACDBw77vyQxQdgdDjO8YWwHhwaL4ywwdoBGOlQ8wUE0Mw2uBgD6YNfLVAAAAA==" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZIACG64oPhgbAGk0kPwkAAAA" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZACBBlbn/V+SmBggHMcZ3jA2kGdxnAXGDtBIh4pPcBDNTIOrAQBYO/DgVAAAAA==" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEALM/o7fr9elbHgwMB/6z7o1lZAABh5XO+78kMYHZDFOcZnjD2AmOey+mQNkTHA+nIcQDNNKhbAsn0cw0uDgAThxk72AAAAA=" />
    <add key="/atigpu/0/clock/2/values" value="H4sIAAAAAAAEAPP8rLfr9elbHgwMB/7/nhrLyAACDkec939JYgKzDzg6z/CGshlknfZeTIGyvZwOp8HEpZ0CNNIh7IaPTqKZaVBxGScA/Am9HWAAAAA=" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAPP8rLfr9elbHgwMB/7/nhrLyAAEZ8+I2O//ksQEYvMyedvN8IawQaDB4jgLjB2gkQ5XI5qZBlcDAEWMbw9UAAAA" />
    <add key="/atigpu/0/voltage/1/values" value="H4sIAAAAAAAEAPP8rLfr9elbHgwMB/7/nhrLyAAGDvb7vyQxgVjpaWr2taLfuWFsAAZnAgQwAAAA" />
    <add key="/atigpu/0/voltage/2/values" value="H4sIAAAAAAAEAPP8rLfr9elbHgwMB/7/nhrLyAAE2XtM7G24ovhgbADUTaB2JAAAAA==" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAPP8rLfr9elbHgwMB/7/nhrLyAAGLxz2f0liYoCCWtHv3DA2AP6WtBMwAAAA" />
    <add key="/atigpu/0/load/1/values" value="H4sIAAAAAAAEAPP8rLfr9elbHgwMB/7/nhrLyAAGMxz2f0ligrAb7GtFv3PD2ACaeHbcMAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAPP8rLfr9elbHgwMB/7/nhrLyAAFNlxRfDA2AGlJs20kAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPu9RXPX69O3PBgYDvw/OP8PIwMQuDDnOFX8T2QCsZ/E5Tj9Vk0GsyvWZjt1v4WwdcKznQLcUsFs/5XZTkcLUsDsylnZTkJ9aWB2fkm2EwDGqxJqYAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPu9RXPX69O3PBgYDvw/OP8PIwMQeC2b6lDxP5EJxE55MNXht2oymP0kf6pD91sIW8dyqkOAWyqY7ZA71eFoQQqYfSN5qoNQXxqYvct7qgMAlnSmN2AAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPu9RXPX69O3PBgYDvw/OP8PIwMQnPnq71DxP5EJxJ7R6O/wWzUZwk4KcOh+C2FzXAhwCHBLBbMfpAc4HC1IAbM3VAU4CPWlgdlvVgU4AACrcpoJYAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAFOqVNn1+vQtDwaGA/8/bWBkYgCCZQG29suZksDsCyGsto5KyWB2AN9J230SKWB2xio1u6syqXA1MsUQ8YY3R2zb+tMg4u7NtgDyoDloYAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAFOqVNn1+vQtDwaGA/8/bWBkYgCCaEcf++VMSWA2A4OHnaNSMpy9TyIFymZgKJc3YIexAXbIee5IAAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAFOqVNn1+vQtDwaGA/8/bWBkYgCCgg+OdsuZksBsECiL+s4NYwMAOxJZujAAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAFOqVNn1+vQtDwaGA/8/bWBkYoAC2dhIPhgbAHDtSHckAAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAFOqVNn1+vQtDwaGA/8/bWBkYgCCSdoc9suZksBsEHBUSgazG3S87fZJpEDFPeyuyqTC1cgUQ8T1Ngrbt/WnwcUBM67z1WAAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAFOqVNn1+vQtDwaGA/8/bWBkYgCCJfP1HJYzJYHZIFAW9Z0bxgYAvh9szDAAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAFOqVNn1+vQtDwaGA/8/bWBkYgCCgg+OdsuZksBsEHBUSoayPez2SaTA2PZXZVLh4jLFKXD1bf1pYHbDmyN2AEQdXhlgAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEANsoobnr9elbHgwMB/4nC/5lZACBB/pOy5mSmMDsBnUnR6VkCNtBxmmfRAqErSDidFUmFcrmdZIphoo7cDq19adB2AvYnQAfAbsnYAAAAA==" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEANsoobnr9elbHgwMB/4nC/5lZACBA0pOy5mSmMDshl+OjkrJEDbDV8d9Eilw9lWZVKia944yxTDxn45t/WlQ9g9HAMY+MthgAAAA" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEADtir7nr9elbHgwMB/4HvPrDyAAEKxm0nZYzJTGB2CKrPzg6KiWD2Qe0rzvuk0gBs/fq3XG8KpMKZq/r2+noMAsiHiD0yzEpIw3MlpX+4ggA1kYJl2AAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEADtir7nr9elbHgwMB/7/EPnLyAAEqczejhX/E5lA7DIpFoffqslgdqjYDPvutxB2n9By+wC3VDD76md3+6MFKWC275yf9kJ9aWD2ltp39gAJ2GYlYAAAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/7bHP7DyAAE629ds1/OlMQEYscXqdo5KiWD2W/qmOz2SaSA2Y6LL9lelUkFs19lzbV1mAURv1phbpeUkQZmWzNk2wEAtSEYDmAAAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/7bHP7DyAAEUnyNrsuZkphAbINFpa6OSslg9sXMMtd9Eilg9tn3ma5XZVLB7HnBWa4Os1Lg7KSMNLheAK9BVl1gAAAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/5XvPnDyAAELOyr7LNvJjKB2EfWedg6KiWD2Vk872z2SaSA2d4Zt2wEnFLB7GsbdtiwlkLEJ0Zz2JZ0pYHZbtNZbQGrN28hYAAAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/5XvPnDyAAEH4RKXLNvJjKB2G9mpLs6KiWD2b0JGa77JFLA7LPvM10FnFLB7HnBWa6spSlwdklXGlwvAHpZTIxgAAAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEI4q6tsp/6J5EJxObmabZd/TcJzF5TzGe7TyIFzP6Qc9OmzDkVzHZLabWdXwwRl2USsr3SnQZmx2VJ2AIAFx1JgmAAAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEIPgiVuE79k8gEYr+Zke66+m8SmN2bkOG6TyIFzD77PtO1zDkVzJ4XnOU6vzgFzr7SnQbXCwBpirabYAAAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEIRJ7aOrz+m8gEYj9JsbDvUE8Gs9k/T7Hrfgthv8jebXfDJRXMtnwvYmdblAJmt03XtL/SnQZmv5TTsAcAZkPtDmAAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEIWGrbXV//TWQCsQ0Wlbp2qCeD2ZcXN7p2v4Wwz77PdL3hkgpmzwvOcrUtSgGznaaWu17pToPrBQDRDMNkYAAAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEI0nVYHCr+JzKB2Mbbme1+qyaD2fcPnLDtfgthN55eYxvglgpmH3HptD1akAJm7zEJthPqSwOzL7T+tgUAThYaM2AAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEIWGrbXSv+JzKB2AaLSl1/qyaD2TLe7a7dbyHss+8zXQPcUsHsecFZrkcLUsBsXY1MV6G+NDD7zYx0VwD/xRUsYAAAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEIhBRCHCr+JzKB2CrnCux/qyaD2RsWS9t3v4Wwlz8ysg9wSwWzWR6csztakAJmX/UPtRfqSwOz5532sAcAxhJbfmAAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEALuRprnr9elbHgwMB/4/efuHkQEIWGrbXSv+JzKB2AaLSl1/qyaD2TLe7a7dbyHss+8zXQPcUsHsecFZrkcLUsBsp6nlrkJ9aXC9AHxzM3VgAAAA" />
    <add key="/lpc/it8686e/voltage/0/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAEHGvm2C9nSgKzq0X67B2VksHs4oxG+/UsKWD2vPfp9k8MUsFszZjzdjLFKXD1bf1pYPZFpdn2AM/irrFgAAAA" />
    <add key="/lpc/it8686e/voltage/1/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAEB08xOixnSgKzY/qZHMqivnPD2AB3Qd0TMAAAAA==" />
    <add key="/lpc/it8686e/voltage/2/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAEB08xOkzX1GSHsZ8YpILFX/xmdJApToGraetPg7MBgnXu1UgAAAA=" />
    <add key="/lpc/it8686e/voltage/3/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAEt3/+s3+hcpQFxl7PkgIW14z5b//EIBXMThJgcJApToGrb+tPg7MBz8QKo1QAAAA=" />
    <add key="/lpc/it8686e/voltage/4/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAE4jf77JczJYHZJ8v67B2VkuHs9SwpYLbupl77JwapYHa1SJ+9THEKXG9bfxpcHAAEiqJnYAAAAA==" />
    <add key="/lpc/it8686e/voltage/5/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAEc9+n2y9nSgKzmbXT7R2VkuHs9SwpYDYTkP3EIBXOlilOgatp60+DiwMA9WPWDGAAAAA=" />
    <add key="/lpc/it8686e/voltage/6/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAEC6TW279QOcoCY69nSQGLv6tZb//EIBXMtrm/3l6mGCHe1p8G1wsAtPEEmVQAAAA=" />
    <add key="/lpc/it8686e/voltage/7/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAECU8DHGRjI/lgbADf0QjfJAAAAA==" />
    <add key="/lpc/it8686e/voltage/8/values" value="H4sIAAAAAAAEAPvw9dzO16dveTAwHPivYhLOxAAE5p2ODrKxkXwwNgCc9hBSJAAAAA==" />
    <add key="/lpc/it8686e/temperature/0/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMYDBB0fZ2Eg+GBsA3zM35yQAAAA=" />
    <add key="/lpc/it8686e/temperature/1/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMYABh5NsbCQfjA0AjyfURSQAAAA=" />
    <add key="/lpc/it8686e/temperature/2/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMYCBntNypiQoW83JUSkZypZ2Ws+SAmULOT0xSIWyuZ1kimHiHE5t/WlQNpsTAAWKR15gAAAA" />
    <add key="/lpc/it8686e/temperature/3/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMYABh5NsbCQfjA0AjyfURSQAAAA=" />
    <add key="/lpc/it8686e/temperature/4/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMYCBgNNypiQom8/JUSkZyuZxWs+SAmc/MUiFsrmcZIph4hxObf1pUDa3EwA2w/bNYAAAAA==" />
    <add key="/lpc/it8686e/temperature/5/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMYCBhJNsbCQfjA0AsgmkaSQAAAA=" />
    <add key="/lpc/it8686e/fan/0/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMQCByL2pLsuZksBsbvepLo5KyWD2lS39LutZUsBs98+dLk8MUsFsD/NWF5liiHj7i0aXtv40MPtEYKMLAF18dfhgAAAA" />
    <add key="/lpc/it8686e/fan/1/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMUCBbGwkH4wNAO23V/skAAAA" />
    <add key="/lpc/it8686e/fan/2/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMUCBbGwkH4wNAO23V/skAAAA" />
    <add key="/lpc/it8686e/fan/3/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMUCBbGwkH4wNAO23V/skAAAA" />
    <add key="/lpc/it8686e/fan/4/values" value="H4sIAAAAAAAEAOOXPb/z9elbHgwMB/6z8oYzMQDB95JPLsuZksBspsUfXByVksFs7+VPXdazpEDEm267PDFIBbOvXrvoIlMMEef1OefS1p8GUbP8jAsAKNcKD2AAAAA=" />
    <add key="/lpc/it8686e/control/0/values" value="" />
    <add key="/lpc/it8686e/control/1/values" value="" />
    <add key="/lpc/it8686e/control/2/values" value="" />
    <add key="/lpc/it8686e/control/3/values" value="" />
    <add key="/lpc/it8686e/control/4/values" value="" />
    <add key="/lpc/it879xe/voltage/0/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAEc47MsF/OlARme/F42TsqJYPZO+Rc7fZJpIDZSwpq7a/KpILZ91Tq7GWKIeLiN+vs2/rT4HoBs/Y4V2AAAAA=" />
    <add key="/lpc/it879xe/voltage/1/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAEuzzn2C9nSgKzy/d12zsqJYPZihuS7PdJpIDZ2z5Ptb8qkwpnyxRDxGfNnGrf1p8GZk+W6LEHAJ8uLFhgAAAA" />
    <add key="/lpc/it879xe/voltage/2/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAEPuYL7ZczJYHZ897PtndUSgazua5Ptt8nkQJmL5Cab39VJhXM3lMy316mGCHe1p8G1wsAKB90MWAAAAA=" />
    <add key="/lpc/it879xe/voltage/3/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAE3TnX7V+oHGWBsfdJpIDF84Su21+VSQWzTeOu2csUQ8TzgeJt/WlwvQBo/8++VAAAAA==" />
    <add key="/lpc/it879xe/voltage/4/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAEpxdutZeNjeSDsQH5fO5JJAAAAA==" />
    <add key="/lpc/it879xe/voltage/5/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAEd1WW2b9QOcoCY++TSAGLHzi11P6qTCqcLVOcAlff1p8GZwMAkHyzoVQAAAA=" />
    <add key="/lpc/it879xe/voltage/6/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAE8q3GDrKxkXwwNgBk0ObWJAAAAA==" />
    <add key="/lpc/it879xe/voltage/7/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAEf1aGOixnSoKzHZWSwWwJljAHU4spnDA2AAGBw6Y8AAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/it879xe/voltage/8/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAEAhGeDrKxkXwwNgBMn6ZUJAAAAA==" />
    <add key="/lpc/it879xe/temperature/0/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAGBxxlYyP5YGwAQ3vSrCQAAAA=" />
    <add key="/lpc/it879xe/temperature/1/values" value="H4sIAAAAAAAEALM5dH7n69O3PBgYDvy/kR7GxAAGDxxlYyP5YGwAOScy9CQAAAA=" />
    <add key="/lpc/it879xe/temperature/2/values" value="H4sIAAAAAAAEAPN7eX7n69O3PBgYDvw/5hDGxAAGDxxlYyP5YGwAaj+SeSQAAAA=" />
    <add key="/lpc/it879xe/fan/0/values" value="H4sIAAAAAAAEAPN7eX7n69O3PBgYDvw/5hDGxAAFsrGRfDA2AGWVgkkkAAAA" />
    <add key="/lpc/it879xe/fan/1/values" value="H4sIAAAAAAAEAPN7eX7n69O3PBgYDvw/5hDGxAAFsrGRfDA2AGWVgkkkAAAA" />
    <add key="/lpc/it879xe/fan/2/values" value="H4sIAAAAAAAEAPN7eX7n69O3PBgYDvw/5hDGxAAFsrGRfDA2AGWVgkkkAAAA" />
    <add key="/lpc/it879xe/control/0/values" value="H4sIAAAAAAAEAPN7eX7n69O3PBgYDvw/5hDGxAAGJ5xkYyP5YGwAWsox/iQAAAA=" />
    <add key="/lpc/it879xe/control/1/values" value="H4sIAAAAAAAEAPN7eX7n69O3PBgYDvw/5hDGxAAGJ5xkYyP5YGwAWsox/iQAAAA=" />
    <add key="/lpc/it879xe/control/2/values" value="H4sIAAAAAAAEAPN7eX7n69O3PBgYDvw/5hDGxAAGJ5xkYyP5YGwAWsox/iQAAAA=" />
  </appSettings>
</configuration>