<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArduCenter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ArduCenter.My.MySettings>
            <setting name="AutoConnesione" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="SerialCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="Lingua" serializeAs="String">
                <value>Italiano</value>
            </setting>
            <setting name="TimerHardwareMonitor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FormHrdwareTras" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormHrdwareTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoForm_Pan" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="VentolaN1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VentolaN1_RGB" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="VentolaN1_LEDN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VentolaN1_PIN" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VentolaN1_LOAD" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioDigitalRGB" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Sorgente_Audio" serializeAs="String">
                <value>null</value>
            </setting>
        </ArduCenter.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>